body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cursive';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#B3B7BD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addProd {
  color: green; 
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.removeProd {
  color: red; 
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.logoDetails {
  float:left; 
  width: 140px;
  height: 140px;
} 

.header h1 {
  background-color:#F7F7F7;
  font-family: 'Cursive';
  font-size: 40px;
  text-shadow: 1px 1px rgb(116, 78, 22);
  color: black;
  width: 100%;
  height: 140px;
  line-height: 140px;
}

.container {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.navBar {
  margin-bottom: 10px;
  width:100%;
  text-align:center;
}

.menuBar {
  margin-bottom: 10px;
  width:100%;
  text-align:center;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.review {
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: #eaecee;
  padding: 5px;
}

.textLink {
  color: black;
}

.midHeader {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.categoryButton {
  background-color: rgb(255, 255, 255);
  color: black;
  border-color: black;
  border-width: 2px;
  text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: calc(100% / 6);  
  display: inline-block;
}

.generalButton {
  background-color: rgb(255, 255, 255);
  color: black;
  border-color: black;
  border-width: 2px;
  text-align:center;
}

.menuLink {
  color: black;
  font-size: 20px;
  text-align:center;
  padding:20px;
  width: calc(100% / 3);  
  display: inline-block;
}

.filterOptions {
  text-align:center;
  width: calc(100% / 2);
}

.menuLinkLogged {
  color: black;
  font-size: 20px;
  text-align:center;
  padding:20px;
  width: calc(100% / 4);  
  display: inline-block;
}

.bottomPadding {
  padding-bottom: 10px;
}

.textField {
  border-color: black;
  border-width: 1px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}  


